body{
    background-color: rgb(39, 39, 39);
}
.header{
    background-color: white;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}
.header  p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}
.header  img{
    width: 50px;
}
.profile{
    display: flex;
    align-items: center;
    gap: 5px;
}
.header > button{
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}
.header > button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 4px #0000003a;
}
.header > button:active{
    box-shadow: none;
    color: rgb(238, 238, 238);
}
main{
    width: 50vw;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #0000003a;
    margin: 50px auto 50px auto;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
main > h1{
    font-family: cursive;
    font-size: 2em;
    text-align: center;
}
article.article{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(37, 37, 37, 0.863);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px 0px;
    border-radius: 5px;
    gap: 15px;
    cursor: pointer;
    box-shadow: 1px 1px 3px #0000003a;
}
img.article{
    width: 60%;
    height: 200px;
    object-fit: cover;
}
.article a{
    color: white;
    text-decoration: none;
    font-size: 1.4em;
}
.article:hover a{
    text-decoration: underline;
}